@charset "UTF-8";

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(14px + 2 * (100vw - 480px) / 480);
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: 10px;
  line-height: 1.5;
}

body {
  background-color: #eee;
}

@media (min-width: 980px) {
  body {
    min-height: 100vh;
    background-color: #fff;
    background-image: linear-gradient(to right, transparent 90px, #eee 90px), linear-gradient(to right, transparent 89px, #d2d2d2 89px);
  }
}

.main {
  font-family: sans-serif;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}

@media (min-width: 480px) {
  .main {
    grid-template-areas: "a a" "b c" "d e";
  }
}

@media (min-width: 980px) {
  .main {
    padding-left: 0;
    grid-template-areas: "f a a b c" "f d e b c";
    grid-template-columns: 90px 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}

.sidebar {
  position: fixed;
  right: 100%;
  background-color: #fff;
  border-right: 1px solid #d2d2d2;
  margin-top: -20px;
  margin-bottom: -20px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 980px) {
  .sidebar {
    position: static;
    right: initial;
    grid-area: f;
  }
}

.hero {
  background: #fff;
  -webkit-box-shadow: 0 1px 5px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px -4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: relative;
}

@media (min-width: 480px) {
  .hero {
    grid-area: a;
  }
}

.content {
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 480px) {
  .content--alpha {
    grid-area: b;
  }
}

@media (min-width: 980px) {
  .content--alpha {
    grid-area: b;
  }
}

@media (min-width: 480px) {
  .content--beta {
    grid-area: c;
  }
}

@media (min-width: 480px) {
  .content--gamma {
    grid-area: d;
  }
}

@media (min-width: 480px) {
  .content--delta {
    grid-area: e;
  }
}
