extends /layout/layout.pug

block variables
  - pageTitle = "GDemo"

block content
  .main
    .sidebar.js-sidebar
    .hero.js-hero
    .content.content--alpha.js-content2
    .content.content--beta.js-content3
    .content.content--gamma.js-content4
    .content.content--delta.js-content1
