body {
  background-color: $bg;

  img {
    display: block;
    max-width: 100%;
  }

  @include mq($from: desktop) {
    min-height: 100vh;
    background-color: $color-sidebar;
    background-image: linear-gradient(to right, transparent 90px, $bg 90px), linear-gradient(to right, transparent 89px, $color-border 89px);
  }
}

.main {
  font-family: sans-serif;
  display: grid;
  grid-gap: 20px;
  padding: 20px;

  @include mq($from: mobile) {
    grid-template-areas: "a a"
      "b c"
      "d e";
  }

  @include mq($from: desktop) {
    padding-left: 0;
    grid-template-areas: "f a a b c"
      "f d e b c";
    grid-template-columns: 90px 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}

.sidebar {
  position: fixed;
  right: 100%;
  background-color: $color-sidebar;
  border-right: 1px solid $color-border;
  margin-top: -20px;
  margin-bottom: -20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    position: static;
    right: initial;
    grid-area: f;
  }
}

.sidebar__icon {
  line-height: 30px;
  border-bottom: 1px solid $color-border;
  padding: 20px;
}

.hero {
  background: $color-hero;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  position: relative;

  @include mq($from: mobile) {
    grid-area: a;
  }
}

.hero__button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: $color-button;
  color: $color-text;
  border-radius: $border-radius;
  border: 1px solid $color-button-border;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.05em;
  z-index: 10;
}

.hero__element {
  flex: 1 1 auto;
  padding: 70px 40px;

  h1 {
    font-size: 32px;
    font-weight: 100;
    line-height: 1.1;
    color: $color-hero-title;
    margin-top: 0;
    margin-bottom: .75em;
  }

  p {
    font-size: 15px;
    font-weight: 100;
    line-height: 1.5;
    color: $color-hero-text;
    margin-bottom: 0;
  }
}

.hero__controls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.hero__dot {
  display: inline-block;
  background-color: $color-dot;
  height: 10px;
  width: 10px;
  border-radius: 5px;

  & + & {
    margin-left: 5px;
  }
}

.hero__dot--active {
  background-color: $color-dot-active;
}

.content--alpha {
  @include mq($from: mobile) {
    grid-area: b;
  }

  @include mq($from: desktop) {
    grid-area: b;
  }
}

.content--beta {
  @include mq($from: mobile) {
    grid-area: c;
  }
}

.content--gamma {
  @include mq($from: mobile) {
    grid-area: d;
  }
}

.content--delta {
  @include mq($from: mobile) {
    grid-area: e;
  }
}

.content__element {
  color: $color-text;
  background-color: map-get($palette, "color-1-1");
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & + & {
    margin-top: 20px;
  }

  @for $i from 1 through 10 {
    &--#{$i} {
      background-color: map-get($palette, "color-#{$i}-1");
    }
  }
}

.content__icon {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1;
  border-radius: $border-radius-beta;
}

.content__info {
  margin-top: auto;
  padding: 10px;
  background-color: map-get($palette, "color-1-2");

  @for $i from 1 through 10 {
    .content__element--#{$i} & {
      background-color: map-get($palette, "color-#{$i}-2");
    }
  }

  h5 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: .5em;

    &:after {
      content: "»";
      margin-left: .5em;
    }
  }

  p {
    font-size: 13px;
    margin-bottom: 0;
  }
}
